		.main1 {
		font-size: 22px;
    		padding-top: 10px;
    		vertical-align: middle;
    		width: 58%;
    		display: inline-block;
    		text-align: center;
		margin: 3%
		}		
   		.main2 {
		font-size: 22px;
    		padding-top: 10px;
    		vertical-align: middle;
    		width: 30%;
    		display: inline-block;
    		text-align: center;
		margin: 3%
		}
