		.main1 {
		font-size: 22px;
    		padding-top: 10px;
    		vertical-align: middle;
    		width: 70%;
    		display: inline-block;
    		text-align: center;
		}		
    .main2 {
		font-size: 22px;
    		padding-top: 10px;
    		vertical-align: middle;
    		width: 70%;
    		display: inline-block;
    		text-align: center;
		}
